<<!DOCTYPE html>
<html>
<head>
</head>
<body>
    
    <h1>Enter heavy traffic word to be fetched</h1>
    <form method="post" action="/posttweet">
        <input type="text" id="word" name="word">
        <button type="submit" value="Submit"></button>
    </form>
</body>
</html>